/*Google fonts link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Rose:wght@300..700&display=swap');


/*CSS variables*/
:root {
    --primary-font: 'Poppins', 'Tahoma';
    --secondary-font: 'Red Rose', 'Century Gothic';
    --primary-color: #50372c; /*brown*/
    --secondary-color:  #be2f2c; /*terracotta-red*/
    --highlight-color: #344f72; /*blue*/
    --highlight-color-light:  #849CAE; /*light-blue*/
    
}


/*Global styles*/
body {
    font-family: var(--primary-font);
}


h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

p {
    border: 2px solid var(--fourth-color);
}


/*iframe style*/
.map iframe {
    width: 100%;
    height: 100%;
    padding: 0 0
}


/*page element placement CSS for visualisation*/

.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgrey;
}